*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

img{
    max-width: 100%;
    height: auto;
}

h2{
    flex: 0 1 100%;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
}

h3 {
    font-family: 'Libre Baskerville', serif;
    margin:0;
    font-weight: 700;
}


.contenido{
    padding: 1rem;
    background-color: white;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    /* line-height: 1.4rem */
}


.contenido h3{
    font-size: .9rem;
    line-height: 1.4rem;
    text-align: center;
    margin-bottom: .8rem;
}

.contenido span{
    color: tomato;
}

.boton{
    display: inline-block;
    text-decoration: none;
    background-color: tomato;
    /* padding: .6rem; */
    color: white;
    padding: .8rem 1rem;
    margin-top: 1rem;

}

@media screen and (min-width:480px) {
    body{
        background-color: aquamarine;
    }
    .contenedor-principal{
        display: flex;
        flex-flow:row wrap;
        justify-content: space-between;
    }

    .entrada{
        flex: 0 1 calc(50% - 1rem);
    }

}

@media screen and (min-width:768px) {
    body{
        background-color: royalblue;
    }
    /* .contenedor-principal{
        display: flex;
        flex-flow:row wrap;
        justify-content: space-between;
    } */

    .entrada{
        flex: 0 1 calc(33% - 1rem);
    }

}

