/*
  Color de fondo: hsl(185, 75%, 39%)
  Color del texto gris: hsl(227, 10%, 46%)
 */
body{
  background-color: hsl(185, 75%, 39%);
  font-family: sans-serif;
  font-size: 1.3rem;
}


.bg-image--top{
  position: relative;
  top: -400px;
}
